.slider-container {
  background-color: #419be0;
  padding: 40px;
  width: 90%;
  margin-left: 50px;
}

.img-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} 

.chick {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fries {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pizza {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger {
  color: aliceblue;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* @keyframes slideLeftToRight1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
} */